@use 'variables';

.hero {
    @media (max-width: 768px) {
        h2 {
            font-size: 24px;
        }
        p {
            font-size: 16px;
            margin-top: 10px;
        }
    }

    &__content {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        &__branding {
            &__img {
                width: 100%;
            }
        }
        &__text {
            position: absolute;
            text-align: center;
            
        }
    }
}
